### Conectando com Banco de dados com linguagem python

In [ ]:
# importação
import sqlite3
import pandas as pd

In [ ]:
# Conectando com o banco de dados
con = sqlite3.connect('cap12_dsa.db')

In [ ]:
# Abre um cursor para percorrer os dados no banco de dados
cursor = con.cursor()

In [ ]:
# Query SQL para extrair os nomes das colunas no banco de dados
sql_query = """SELECT name FROM sqlite_master WHERE type = 'table'; """

In [ ]:
# Executa a query
cursor.execute(sql_query)

In [ ]:
# Visualiza os resultado
print(cursor.fetchall())

A query abaixo retorna todas as linhas e todas as colunas da tabela

In [ ]:
# Cria uma instaução sql
query1 = 'SELECT * FROM tb_vendas_dsa'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query1)

In [ ]:
# list comprehension para visualizar os nomes das colunas
nomes_colunas = [description[0] for description in cursor.description]

In [ ]:
print(nomes_colunas)

In [ ]:
# Retorna os dados da execução da query
dados = cursor.fetchall()

In [ ]:
#visualiza os dados
dados

### Alicando Linguagem SQL direto no Banco de Dados com Linguagem Python

A query abaixo retorn a média de unidades vendidas

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas
query2 = "SELECT AVG(Unidades_Vendidas) FROM tb_vendas_dsa"

In [ ]:
# Executa a qeury no banco
cursor.execute(query2)

In [ ]:
# Visualiza o resultado
print(cursor.fetchall())

A query abaixo retona a média de unidades vendidas por produto

In [ ]:
# Cria a instrução SQL para calcular a média de unidades vendidas por produto
query3 = 'SELECT Nome_Produto, AVG(Unidades_Vendidas) FROM tb_vendas_dsa GROUP BY Nome_Produto'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query3)

In [ ]:
cursor.fetchall()

A query abaixo retorna a média de unidades vendidas se o valor unitário for maior que 199.

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto,
# quando o valor unitário for maior que 199
query4 = """SELECT Nome_Produto, AVG(Unidades_Vendidas)
            FROM tb_vendas_dsa
            WHERE Valor_Unitario > 199
            GROUP BY Nome_Produto;"""

In [ ]:
cursor.execute(query4)

In [ ]:
cursor.fetchall()

A query abaixo retorna a média de unidades vendidas por produto se o valor unitário for maior que 199 e somente se a média de unidades vendidas for mairo que 10

In [ ]:
# Cria uma instrução sql para calcular a média de unidades vendidas por produto,
# quando valor unitário for maior que 199, mas que somente se a média de unidades vendidas for maior que 10
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas)
            FROM tb_vendas_dsa
            WHERE Valor_Unitario > 199
            GROUP BY Nome_Produto
            HAVING AVG(Unidades_Vendidas) > 10"""

In [ ]:
cursor.execute(query5)

In [ ]:
cursor.fetchall()

In [ ]:
# Fecha conexões
cursor.close()
con.close()

### Aplicando Linguegem SQL na Sintaxe do Pandas com Linguagem Python

In [ ]:
# Conecta no banco de dados
con = sqlite3.connect('cap12_dsa.db')

In [ ]:
# Abeu um cursor para percorrer os dados no banco de dados
cursor = con.cursor()

A query abaixo retorna todas as linhas e todas as colunas da tabela

In [5]:
# cria uma instrução sql
query = 'SELECT * FROM tb_vendas_dsa'

In [6]:
# executa a query no banco de dados
cursor.execute(query)

In [7]:
dados = cursor.fetchall()

In [ ]:
dados

In [8]:
# Carrega os dados como dataframe do pandas
df = pd.DataFrame(dados, columns = ['ID_PEdido',
                                    'ID_Cliente',
                                    'Nome_Produto',
                                    'Valor_Unitario',
                                    'Unidades_Vendidas',
                                    'Custo'])

In [ ]:
df.head()

In [9]:
cursor.close()
con.close()

Query abaixco retorna a média de unidades vendidas

In [ ]:
# Calcula a média de unidade vendidas
media_unidades_vendidas = df['Unidades_Vendidas'].mean()

In [ ]:
type(media_unidades_vendidas)

In [ ]:
print(media_unidades_vendidas)

A query abaixo retorna a média de unidades vendidas por produto.

In [10]:
# Calcula a média de unidades vendiads por produto
media_unidades_vendidas_por_produto = df.groupby('Nome_Produto')['Unidades_Vendidas'].mean()

In [11]:
print(media_unidades_vendidas_por_produto.head(10))

Nome_Produto
Produto_1     12.000000
Produto_10     9.500000
Produto_11    14.181818
Produto_12     8.846154
Produto_13     6.000000
Produto_14     9.166667
Produto_15     9.750000
Produto_16     8.250000
Produto_17    11.714286
Produto_18    13.083333
Name: Unidades_Vendidas, dtype: float64

In [15]:
# Retorna a média de unidades vbendidas por produto se o valor unitario for maior que 199
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto')['Unidades_Vendidas'].mean()

Nome_Produto
Produto_11     1.0
Produto_15     8.0
Produto_17    14.0
Produto_20     7.0
Produto_39    16.0
Name: Unidades_Vendidas, dtype: float64

A query abaixo retorna a média de unidades vendidas por produto se o valor unitário for maior que 199 e somente se a média de unidades vendidas for maior do que 10

In [16]:
# Alternativa A
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto').filter(lambda x: x['Unidades_Vendidas'].mean() > 10)

,ID_PEdido,ID_Cliente,Nome_Produto,Valor_Unitario,Unidades_Vendidas,Custo
42,43,72,Produto_39,199.78,16,119.87
83,84,45,Produto_17,199.62,14,119.77

In [17]:
# Alternativa B
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto')\
                              .filter(lambda x: x['Unidades_Vendidas'].mean() > 10)\
                              .groupby('Nome_Produto')['Unidades_Vendidas'].mean()

Nome_Produto
Produto_17    14.0
Produto_39    16.0
Name: Unidades_Vendidas, dtype: float64

### Sintaxe SQL X Sintaxe Pandas

As duas instruções abaixo retornam o mesmo resultado!

In [18]:
# Sintaxe SQL
query5 = """ SELECT Nome_Produto, AVG(Unidades_Vendidas)
              FROM tb_vendas_dsa
              WHERE Valor_Unitario > 199
              GROUP BY Nome_Produto
              HAVING AVG(Unidades_Vendidas) > 10"""

In [ ]:
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto')\
                              .filter(lambda x: x['Unidades_Vendidas'].mean() > 10)\
                              .groupby('Nome_Produto')['Unidades_Vendidas'].mean()