# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.10.12

## Exercícios

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [2]:
ex1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
ex1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [4]:
ex2 = ['Alvaro', 44, 'Jussara', 47, 'Ariel', 16, 'Gabriel', 16, 'Xiquinha', 15]

In [6]:
len(ex2)

10

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [11]:
ex31 = 'primeira '

In [12]:
ex32 = 'variavel'

In [13]:
ex33 = ex31 + ex32

In [14]:
ex33

'primeira variavel'

In [5]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [15]:
ex4 = (1, 2, 2, 3, 4, 4, 4, 5)

In [18]:
ex4.count(4)

3

In [6]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [19]:
ex5 = {}

In [20]:
type(ex5)

dict

In [21]:
ex5

{}

In [7]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [22]:
ex6 = {'Alvaro': 44, 'Jussara': 47, 'Ariel': 16}

In [23]:
ex6

{'Alvaro': 44, 'Jussara': 47, 'Ariel': 16}

In [8]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [25]:
ex6['Gabs'] = 16

In [26]:
ex6

{'Alvaro': 44, 'Jussara': 47, 'Ariel': 16, 'Gabs': 16}

In [9]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [27]:
ex8 = {'Alvaro': ['Scrum Master', 'Agile Master'], 'Jussara': 'Psicologa', 'Ariel': 'Estudante'}

In [33]:
ex8

{'Alvaro': ['Scrum Master', 'Agile Master'],
 'Jussara': 'Psicologa',
 'Ariel': 'Estudante'}

In [10]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

In [35]:
ex9 = ['Alvaro', ('Scrum Master', 'Agile Master'), {'Jussara': 45, 'Ariel': 160}, 3.9]

In [36]:
ex9

['Alvaro',
 ('Scrum Master', 'Agile Master'),
 {'Jussara': 45, 'Ariel': 160},
 3.9]

In [37]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [40]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [41]:
frase[0:17]

'Cientista de Dado'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>