# Projeto 2

### Análise exploratória de Dados em Linguagem Python para área de Varejo

In [ ]:
# Importanções
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

### Carregando os dados

In [ ]:
df = pd.read_csv('dataset.csv')
#df = pd.read_excel('Sample_Superstore.xls')

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

### Análise Exploratória

In [ ]:
# Colunas do conjunto de dados
df.columns

In [ ]:
# Verificando o tipo de dados de cada coluna
df.dtypes

In [22]:
# Resumo estatŕistico da coluna com o valor de Venda
df['Valor_Venda'].describe()

count     9700.000000
mean       230.469892
std        627.504252
min          0.444000
25%         17.248000
50%         54.272000
75%        209.932500
max      22638.480000
Name: Valor_Venda, dtype: float64

In [23]:
# Verificando se há registros duplicados
df[df.duplicated()]

Empty DataFrame
Columns: [ID_Pedido, Data_Pedido, ID_Cliente, Segmento, Pais, Cidade, Estado, ID_Produto, Categoria, SubCategoria, Valor_Venda]
Index: []

In [24]:
# Verificando se ha valores ausentes
df.isnull().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Cidade          0
Estado          0
ID_Produto      0
Categoria       0
SubCategoria    0
Valor_Venda     0
dtype: int64

In [25]:
df.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
0,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-BO-10001798,Furniture,Bookcases,261.9600
1,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-CH-10000454,Furniture,Chairs,731.9400
2,CA-2017-138688,12/06/2017,DV-13045,Corporate,United States,Los Angeles,California,OFF-LA-10000240,Office Supplies,Labels,14.6200
3,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,FUR-TA-10000577,Furniture,Tables,957.5775
4,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,OFF-ST-10000760,Office Supplies,Storage,22.3680

# Pergunta 1
### Qual cidade com maior valor de Venda de Produtos da Categoria "Office Supplies"?

In [59]:
filtro = df[df['Categoria'] == 'Office Supplies'].groupby('Cidade')['Valor_Venda'].sum().idxmax()

In [61]:
filtro

AttributeError: 'str' object has no attribute 'sort_values'

Series([], dtype: float64)